<launch>
	<arg name="chessboard_w" default="8"/>
	<arg name="chessboard_h" default="12"/>
	<arg name="square_size"  default="0.08"/>
	<arg name="use_stereo" default="true" />

	<node pkg="camera_calibration_frontend" type="cameracalibrator.py" name="cameracalibratorstereo"
		args="--size $(arg chessboard_w)x$(arg chessboard_h) --square $(arg square_size)" output="screen">
		<remap from="right" to="/stereo/right/image" />
		<remap from="left" to="/stereo/left/image" />
	</node>
</launch>
